<!-- GFSysten/templates/partials/header.html -->
<nav class="navbar navbar-expand-lg" id="navbar">
    <div class="container">
        <a class="navbar-brand" href="/dashboard" id="botao-navbar">GFSystem</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a id="botao-navbar" class="nav-link" href="/dashboard">Home</a></li>
                <li class="nav-item"><a id="botao-navbar" class="nav-link" href="/">Login</a></li>
                <li class="nav-item"><a id="botao-navbar" class="nav-link" href="/cadastro">Cadastrar</a></li>
                <li class="nav-item"><a id="botao-navbar" class="nav-link" href="/adicionar/">Adicionar Matéria</a></li>
                <li class="nav-item">
                    <button id="toggle-dark-mode" class="bg-transparent btn btn-dark">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brightness-high" viewBox="0 0 16 16">
                            <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6m0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8z"/>
                        </svg>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>


