<nav class="navbar navbar-expand-lg {% if request.path == '/' %} bg-opacity-10  {% endif %}" id="navbar">
    <div class="container">
        <a class="navbar-brand" href="/" id="botao-navbar">GFSystem</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="nav nav-pills nav-fill gap-2 p-1 small rounded-5 ms-auto fw-bold" id="pillNav" role="tablist" style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">
                <!-- alterar os condicionais, otimizar o código-->
                <!-- Exibir botão "Finalizar Período" somente no Dashboard -->
                {% if request.path == '/dashboard/' or request.path == '/finalizar-periodo/'%}
                    <li class="nav-item" role="presentation">
                        <button class="text-bg-danger nav-link rounded-5" 
                            data-bs-toggle="modal" 
                            data-bs-target="#finalizarPeriodoModal">
                            Finalizar Período
                    </button>
                    </li>                
                {% endif %}

                    <li class="nav-item" role="presentation">
                        <a class="text-white nav-link rounded-5 {% if request.path == '/' %}active{% endif %}" href="/" aria-selected="false">Home</a>
                    </li>

                    <li class="nav-item" role="presentation">
                        <a class="text-white nav-link rounded-5 {% if request.path == '/dashboard/' %}active{% endif %}" href="/dashboard" aria-selected="true">Minhas Matérias</a>
                    </li>
                    
                {% if request.path == '/' or request.path == '/login/' or request.path == '/cadastro/' %}
                    <li class="nav-item" role="presentation">
                        <a class="text-white nav-link rounded-5 {% if request.path == '/login/' %}active{% endif %}" href="/login" aria-selected="false">Login</a>
                    </li>
                              
                    <li class="nav-item" role="presentation">
                        <a class="text-white nav-link rounded-5 {% if request.path == '/cadastro/' %}active{% endif %}" href="/cadastro" aria-selected="false">Cadastrar</a>
                    </li>
                {% endif %}

                {% if not request.path == '/' and not request.path == '/login/' and not request.path == '/cadastro/' %}
                    <li class="nav-item" role="presentation">
                        <a class="text-white nav-link rounded-5 {% if request.path == '/adicionar/' %}active{% endif %}" href="/adicionar/" aria-selected="false">Adicionar Matéria</a>
                    </li>

                    <li class="nav-item" role="presentation">
                        <a class="text-white nav-link rounded-5 {% if request.path == '/lixeira/' %}active{% endif %}" href="/lixeira" aria-selected="false">Lixeira</a>
                    </li>
                {% endif %}

                <li class="nav-item" role="presentation">
                    <a class="text-white nav-link rounded-5 {% if request.path == '/perfil/' %}active{% endif %}" href="/perfil" aria-selected="false">Perfil</a>
                <li class="nav-item" role="presentation">
                    <button id="toggle-dark-mode" class="nav-link rounded-5 bg-transparent border-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brightness-high" viewBox="0 0 16 16">
                            <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6m0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8z"/>
                        </svg>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
