{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'admin/img/calendario-icon.png' %}">
    <link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Incluindo o CSS do Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Incluindo o JS do Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <title>{% block title %}GFSystem{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <!-- Incluindo o CSS personalizado -->
    </style>
</head>
<body class="d-flex flex-column min-vh-100 gradient-custom">
    <!-- Header -->
    {% include 'partials/header.html' %}

    <!-- Conteúdo principal -->
    <main class="content flex-grow-1 container-fluid mt-0">
        {% block content %} {% endblock %}
    </main>

    <!-- Rodapé -->
    {% include 'partials/footer.html' %}
</body>
</html>
