{% extends 'base.html' %}

{% block title %}Editar Matéria{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 90vh;">
    <div class="w-100" style="max-width: 600px;">
        <h1 class="text-center mb-4">Editar Matéria</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <button type="button" class="btn btn-outline-danger w-100" onclick="window.location.href = '{% url 'dashboard' %}'">Cancelar</button>
            <button type="submit" class="btn btn-outline-success w-100">Salvar Alterações</button>
        </form>
    </div>
</div>
{% endblock %}
