{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4 fw-bold" style="color: #007BFF;">
        <!-- Botão "Voltar" flutuante -->
    <div style="float: left;">
        <a href="javascript:void(0)" onclick="history.go(-1); return false;" 
           class="btn btn-danger">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
            </svg>
        </a>
    </div>
    
    Finalizar Período</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="ano" class="form-label">Ano</label>
            <select id="ano" name="ano" class="form-select">
                {% for ano in anos %}
                    <option value="{{ ano }}">{{ ano }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="semestre" class="form-label">Semestre</label>
            <select id="semestre" name="semestre" class="form-select">
                <option value="1">1º Semestre</option>
                <option value="2">2º Semestre</option>
            </select>
        </div>
        <button type="submit" class="btn btn-danger">Finalizar</button>
        <a href="{% url 'dashboard' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
