html, body {
    height: 100%;
    margin: 0;
    padding: 0; /* Garantir que não há margem ou padding adicionais */
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    min-height: 100vh; /* Garantir que o corpo ocupe toda a altura */
}

.content {
    flex-grow: 1; /* Faz o conteúdo expandir para ocupar o máximo de espaço */
    padding: 0; /* Remover qualquer padding adicional */
}

footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link {
    font-weight: bold;
    font-size: 1rem;
}

.nav-link:hover {
    color: #0056b3 !important;
}

.container-fluid {
    padding: 0; /* Remover padding */
}

.bg-danger {
    background: linear-gradient(to bottom, #00bf63, #058547);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-white {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h1, p {
    font-family: 'Arial', sans-serif;
}

.btn-danger {
    background: linear-gradient(to right,#00bf63, #058547);
    border: none;
}

.btn-danger:hover {
    background: #058547;
}

input::placeholder {
    color: #ccc;
    font-style: italic;
}

.gradient-custom-2 {
    background: #fccb90;
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}
